# To avoid uploading any swapfiles etc to github
vim/*
!vim/spell/

# To avoid uploading any private keys, but uploading public keys
ssh/*
!ssh/config

# No need to upload procedurally generated dotfiles.
config/dconf
config/neofetch
config/htop
config/configstore
config/gtk-2.0
config/iterm2

# Make the path specific to each machine
path
