# To avoid uploading any swapfiles etc to github
vim/*
!vim/spell/
!vim/ftplugin/
!vim/after/
vim/after/*
!vim/after/ftplugin/
vim/spell/*.spl

# To avoid uploading any private keys, but uploading public keys
ssh/*
!ssh/config

# No need to upload procedurally generated dotfiles.
config/dconf
config/neofetch
config/htop
config/configstore
config/gtk-2.0
config/iterm2
config/rclone
config/git
config/gcloud/
config/mdless/

# Make the path specific to each machine
path

# Don't check in indexing files
.DS_Store
