# To avoid uploading any swapfiles etc to github
vim/backups/*
vim/swapfiles/*
vim/undofiles/*
vim/bundle/*
vim/.netrwhist

!vim/backups/.gitkeep
!vim/swapfiles/.gitkeep
!vim/undofiles/.gitkeep
!vim/bundle/.gitkeep

# To avoid uploading any private keys, but uploading public keys
ssh/*

!ssh/config
